@using System.Web.Mvc.Html
@model Bespoke.Sph.Domain.ListView


<!--ko if:ko.unwrap($type) === "Bespoke.Sph.Domain.ListView, domain.sph" -->
<div data-bind="css: { 'selected-form-element': isSelected }, click: $root.selectFormElement">
    @Html.Partial("_DesignerContextAction")
    <input type="button" class="btn btn-default pull-right" data-bind="value: Label" />
    <table class="table table-condensed table-striped">
        <thead>
            <tr data-bind="foreach: ListViewColumnCollection">
                <th data-bind="text: Label"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 5; i++)
            {
                <tr data-bind="foreach: ListViewColumnCollection">
                    <td data-bind="with : Input">
                        <!-- ko if: ko.unwrap($type) === 'Bespoke.Sph.Domain.TextBox, domain.sph'-->
                        <input class="form-control" type="text" value="sample data" />
                        <!--/ko-->
                        <!-- ko if: ko.unwrap($type) === 'Bespoke.Sph.Domain.Button, domain.sph'-->
                        <button class="btn btn-default" data-bind="attr : {'class':CssClass},text: $parent.Label">Button</button>
                        <!--/ko-->
                        <!-- ko if: ko.unwrap($type) === 'Bespoke.Sph.Domain.CheckBox, domain.sph'-->
                        <input class="form-control" type="checkbox" value="" checked="@(i % 2 ==0? "checked": "")" />
                        <!--/ko-->
                        <!-- ko if: ko.unwrap($type) === 'Bespoke.Sph.Domain.DatePicker, domain.sph'-->
                        <div class="input-append">
                            <input class="form-control" type="text" value="@DateTime.Today.ToShortDateString()" />
                            <i class="fa fa-calendar"></i>
                        </div>
                        <!--/ko-->
                        <!-- ko if: ko.unwrap($type) === 'Bespoke.Sph.Domain.DateTimePicker, domain.sph'-->
                        <div class="input-append">
                            <input class="form-control" type="text" value="@DateTime.Today.ToShortDateString()" />
                            <i class="fa fa-calendar"></i>
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <!--/ko-->
                        <!-- ko if: ko.unwrap($type) === 'Bespoke.Sph.Domain.NumberTextBox, domain.sph'-->
                        <input class="form-control" type="number" value="@i" />
                        <!--/ko-->

                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
<!--/ko-->
