@model Bespoke.Sph.Domain.TextBox
           @{
               var required = Model.IsRequired ? "required" : null;
           }
<div data-bind="visible:@Model.Visible" class="form-group">
    <label data-i8n="@Model.Label" for="@Model.ElementId" class="control-label col-lg-2">@Model.Label</label>
    <div class="col-lg-6">
        <input @required class="@(Model.CssClass + " form-control " + Model.Size)" title="@Model.Tooltip"
               data-bind="@(Html.Raw(Model.GetKnockoutBindingExpression()))"
               id="@Model.ElementId" type="text" name="@Model.Path.Replace("().",".")" />
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.HelpText))
    {
        <span class="help-block">@Model.HelpText</span>
    }
</div>