@{
    ViewBag.Title = "Change Password";
    Layout = null;
}


@using System.Web.Mvc.Html
@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - SPH</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="body" class="container">
        <section>
            @using (Html.BeginForm((string)ViewBag.FormAction, "SphAccount"))
            {

                <div class="row">
                    @Html.Partial("_Slider")
                    <div class="span4 offset2 login-form">
                        <div class="logo">
                            <img src="~/Images/logo_sph.png" alt="logo" />
                        </div>
                        <h2>Tukar kata laluan</h2>



                        <form class="form-horizontal">

                            <p>
                                New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
                            </p>
                            <div class="control-group">
                                <label for="oldPassword" class="control-label">Kata laluan asal</label>
                                <div class="controls">
                                    <input required="" data-bind="value: oldPassword" id="oldPassword-" type="password" name="oldPassword" />
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="password" class="control-label">Kata laluan baru</label>
                                <div class="controls">
                                    <input min="@Membership.MinRequiredNonAlphanumericCharacters" required data-bind="value: password" id="password" type="password" name="password" />
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="confirm-password" class="control-label">Ulang kata laluan</label>
                                <div class="controls">
                                    <input min="@Membership.MinRequiredNonAlphanumericCharacters" required data-bind="value: confirmPassword" id="confirm-password" type="password" name="confirmPassword" />
                                </div>
                            </div>

                            <input class="btn btn-default" type="submit" value="Tukar" data-bind="command: submit" />
                        </form>



                    </div>
                </div>
                <div class="row">
                    <hr class="span12" />
                </div>
                @Html.Partial("_Footer")


            }
        </section>
    </div>

    @Scripts.Render("~/scripts/vendor")
    <script type="text/javascript">
        $(function () {
            $('.carousel').carousel({
                interval: 2000
            });
        });
    </script>
    <script src="~/App/durandal/amd/require.js"></script>
    <script src="~/App/objectbuilders.js"></script>
    <script type="text/javascript">
        require.config({
            baseUrl: "/App",
            waitSeconds: 15
        });

        $(function () {


            var vm = {
                oldPassword: ko.observable(),
                password: ko.observable(),
                confirmPassword: ko.observable(),
                submit: function () {
                    var tcs = new $.Deferred();
                    var data = JSON.stringify({ model: ko.toJS(vm) });
                    require([objectbuilders.datacontext, objectbuilders.config, objectbuilders.logger],
                        function (context, config, logger) {

                            context.post(data, "/SphAccount/ChangePassword")
                                .then(function (result) {
                                    tcs.resolve(result);
                                    if (result.status !== "OK") {
                                        logger.error(result.status + "<br/>" + result.message);
                                    } else {
                                        window.location = "/#/" + config.startModule;
                                    }
                                });
                        });
                    return tcs.promise();
                }
            };
            ko.applyBindings(vm);

        });
    </script>
</body>
</html>
