@using Bespoke.Sph.Domain

<button class="btn btn-link pull-right" data-bind="click : $root.addParameter">+ parameter</button>


<table class="table table-striped" data-bind="with : DataSource">
    <colgroup>
        <col style="width: 20%" />
        <col style="width: 20%" />
        <col style="width: 10%" />
        <col style="width: 10%" />
        <col style="width: 20%" />
        <col style="width: 10%" />
    </colgroup>
    <thead>
        <tr>
            <th>Name</th>
            <th>Label</th>
            <th>Type</th>
            <th>Default Value</th>
            <th>Available values</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach :ParameterCollection">
        <tr>
            <td>
                <input type="text" data-bind="value:Name" class="input-medium input-parameter-name" />
            </td>
            <td>
                <input type="text" data-bind="value:Label" class="input-parameter-label" />
            </td>
            <td>
                <select data-bind="value:TypeName" class="input-medium input-parameter-type">
                    <option value="@typeof(string).GetShortAssemblyQualifiedName()">String</option>
                    <option value="@typeof(int).GetShortAssemblyQualifiedName()">Number</option>
                    <option value="@typeof(decimal).GetShortAssemblyQualifiedName()">Decimal</option>
                    <option value="@typeof(DateTime).GetShortAssemblyQualifiedName()">DateTime</option>
                    <option value="@typeof(bool).GetShortAssemblyQualifiedName()">Boolean</option>
                </select>
            </td>
            <td>
                <input type="text" data-bind="value:DefaultValue" class="input-medium" />
            </td>
            <td>
                <input type="text" data-bind="value:AvailableValues" class="input-medium" />
            </td>
            <td>
                <button class="btn btn-link" data-bind="click : $root.removeParameter">Buang</button>
            </td>
        </tr>
    </tbody>
</table>