@model Bespoke.Sph.Web.Areas.App.Controllers.HtmlHeaderModel
@{
    Layout = null;
}
<div id="header-navbar" class="navbar">
    <div class="navbar-inner">

        <img src="/Images/sph_32x32.png" class="pull-left" alt="Logo" />
        @if (User.Identity.IsAuthenticated)
        {
            <button class="btn" id="drawer-menu" title="Open menu">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>
        }
        <!-- Site name for smallar screens -->
        <a data-bind="attr : {href : '#' + config.startModule}" class="logo">@Bespoke.Sph.Domain.ConfigurationManager.ApplicationFullName</a>

        <!-- Navigation starts -->
        <div class="nav-header">

            @if (User.Identity.IsAuthenticated)
            {
                <!-- Links -->
                <div class="btn-group">
                    <button id="user-profile-split-button" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                        <img src="/Images/user_24_white.png" alt="">
                        @User.Identity.Name
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="z-index: 9999">
                        <li><a href="#user.profile"><i class="fa fa-user"></i>Profile</a></li>
                        <li><a href="@Url.Action("Logoff", "SphAccount", new {area = "Sph"})"><i class="fa fa-power-off"></i>Logout</a></li>
                        @if (Model.Designation.IsHelpVisible)
                        {
                            <li><a id="help" href="@(Model.Designation.HelpUri)" target="_blank"><i class="fa fa-question-circle"></i> Help</a></li>
                        }
                    </ul>
                </div>
                <!-- Notifications -->
                <ul class="nav navbar-nav">
                    @if (Model.Designation.IsMessageVisible)
                    {
                    <!-- ko compose : 'viewmodels/messages' -->
                    <!-- /ko -->

                    }
                    @if (Model.Designation.IsSearchVisible)
                    {
                    <!-- ko compose : 'viewmodels/search' -->
                    <!-- /ko -->

                    }
                </ul>
            }
            @if (!User.Identity.IsAuthenticated)
            {
                <ul class="nav navbar-nav">
                    <li><a id="log-in" href="@FormsAuthentication.LoginUrl" class="login-label"><i class="fa fa-sign-in"></i>  Sign In </a></li>
                </ul>

            }

        </div>
    </div>
</div>
