@using System.Web.Optimization
@model Bespoke.Sph.Web.ViewModels.WorkflowDefinitionVisualViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Visual Flow Designer</title>
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jsplumb/demo.css" rel="stylesheet" />
    <link href="~/Content/jsplumb/demo-all.css" rel="stylesheet" />
    <link href="~/Content/jsplumb/sph.wf.64.css" rel="stylesheet" />
    <link href="~/Content/jsplumb/sph.wf.32.css" rel="stylesheet" />
</head>
<body>
    <div>
        <nav id="toolbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <button class="btn btn-default" data-bind="click : save">Save</button>
            <button class="btn btn-default" data-bind="click : save">Save &amp; Close</button>

            <strong data-bind="text:wd().Name()"></strong>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-9" id="container">

            </div>
            <div id="toolbox" class="col-lg-3" style="background-color: rgb(245, 245, 245);height: 800px">
                <h3>Toolbox</h3>
                <div>
                    <!-- ko foreach : toolboxElements -->

                    <div class="btn btn-default col-lg-12 toolbox-item" data-bind="attr : {id:WebId()}">
                        <div data-bind="attr : {'class':CssClass}"></div>
                        <strong data-bind="text:Name"></strong>
                        <p>
                            <span data-bind="text:Note"></span>
                        </p>

                    </div>

                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Scripts/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Scripts/knockout-3.0.0.debug.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>

    <script src="~/Scripts/jsPlumb/util.js"></script>
    <script src="~/Scripts/jsPlumb/dom-adapter.js"></script>
    <script src="~/Scripts/jsPlumb/jsPlumb.js"></script>
    <script src="~/Scripts/jsPlumb/endpoint.js"></script>
    <script src="~/Scripts/jsPlumb/connection.js"></script>
    <script src="~/Scripts/jsPlumb/anchors.js"></script>
    <script src="~/Scripts/jsPlumb/defaults.js"></script>
    <script src="~/Scripts/jsPlumb/connectors-bezier.js"></script>
    <script src="~/Scripts/jsPlumb/connectors-statemachine.js"></script>
    <script src="~/Scripts/jsPlumb/connectors-flowchart.js"></script>
    <script src="~/Scripts/jsPlumb/renderers-svg.js"></script>
    <script src="~/Scripts/jsPlumb/renderers-canvas.js"></script>
    <script src="~/Scripts/jsPlumb/renderers-vml.js"></script>
    <script src="~/Scripts/jsPlumb/jquery.jsPlumb.js"></script>
    <script src="~/Scripts/jsPlumb/jsplumb-geom-0.1.js"></script>
    <script src="~/Scripts/jsPlumb/jsBezier-0.6-min.js"></script>

    <script src="~/App/durandal/amd/require.js"></script>

    @Scripts.Render("~/scripts/core")
    @Scripts.Render("~/scripts/domain.schema")
    @Scripts.Render("~/scripts/domain.prototypes")
    @Scripts.Render("~/scripts/domain.partials")

    <script type="text/javascript">
        /* */   require.config({
            baseUrl: "/App",
            waitSeconds: 15
        });

        define('jquery', function () { return jQuery; });
        //define('knockout-3.0.0',function (){return ko;});

        require(['services/datacontext', 'durandal/system', 'jquery', ],

            function (context, system) {

                console.log(window.wd);
                var elements = [
                    new bespoke.sph.domain.ScreenActivity("@Guid.NewGuid()"),
                    new bespoke.sph.domain.DecisionActivity("@Guid.NewGuid()"),
                    new bespoke.sph.domain.CreateEntityActivity("@Guid.NewGuid()"),
                    new bespoke.sph.domain.NotificationActivity("@Guid.NewGuid()"),
                    new bespoke.sph.domain.ReceiveActivity("@Guid.NewGuid()"),
                    new bespoke.sph.domain.SendActivity("@Guid.NewGuid()"),
                    new bespoke.sph.domain.ListenActivity("@Guid.NewGuid()"),
                    new bespoke.sph.domain.ParallelActivity("@Guid.NewGuid()"),
                    new bespoke.sph.domain.DelayActivity("@Guid.NewGuid()"),
                    // new bespoke.sph.domain.ThrowActivity("@Guid.NewGuid()"),
                    new bespoke.sph.domain.EndActivity("@Guid.NewGuid()")
                ];
                elements[0].Name("Screen");
                elements[1].Name("Decision");
                elements[2].Name("Create Record");
                elements[3].Name("Notifify");
                elements[4].Name("Receive");
                elements[5].Name("Send");
                elements[6].Name("Listen");
                elements[7].Name("Parallel");
                elements[8].Name("Delay");
                elements[9].Name("End");

                elements[0].Note = "Creates a user interface activity";
                elements[1].Note = "Decision braches and expression";
                elements[2].Note = "Create a new record";
                elements[3].Note = "Notify via email and messages";
                elements[4].Note = "Receieve a message from another system";
                elements[5].Note = "Send a message to another system";
                elements[6].Note = "Creates a race condition, firts one wins";
                elements[7].Note = "Concurrent running activities";
                elements[8].Note = "Wait for a certain time";
                elements[9].Note = "Ends the workflow";

                elements[0].CssClass = "pull-left activity64 activity64-ScreenActivity";
                elements[1].CssClass = "pull-left activity64 activity64-DecisionActivity";
                elements[2].CssClass = "pull-left activity64 activity64-CreateEntityActivity";
                elements[3].CssClass = "pull-left activity64 activity64-NotificationActivity";
                elements[4].CssClass = "pull-left activity64 activity64-ReceiveActivity";
                elements[5].CssClass = "pull-left activity64 activity64-SendActivity";
                elements[6].CssClass = "pull-left activity64 activity64-ListenActivity";
                elements[7].CssClass = "pull-left activity64 activity64-ParallelActivity";
                elements[8].CssClass = "pull-left activity64 activity64-DelayActivity";
                elements[9].CssClass = "pull-left activity64 activity64-EndActivity";

                $(function () {
                    var save = function () {
                        $('div#container>div.activity').each(function () {
                            var p = $(this),
                                act = ko.dataFor(this),
                                x = parseInt(p.css("left")),
                                y = parseInt(p.css("top"));

                            act.WorkflowDesigner().X(x);
                            act.WorkflowDesigner().Y(y);

                        });
                        window.saved(vm.wd());
                        window.close();

                    },
                        vm = {
                            wd: ko.observable(window.wd),
                            save: save,
                            toolboxElements: ko.observableArray(elements)
                        };
                    ko.applyBindings(vm, document.getElementById('toolbox'));
                    ko.applyBindings(vm, document.getElementById('toolbar'));

                    $('div.toolbox-item').draggable({
                        helper: 'clone',
                        stop: function (arg) {
                            var act = context.toObservable(ko.mapping.toJS(ko.dataFor(this))),
                                x = arg.clientX,
                                y = arg.clientY;
                            act.WorkflowDesigner().X(x);
                            act.WorkflowDesigner().Y(y);
                            act.WebId(system.guid());
                            vm.wd().ActivityCollection.push(act);
                        }
                    });



                    jsPlumb.ready(function () {
                        jsPlumb.init();
                        jsPlumb.Defaults.Container = "container";
                        jsPlumb.draggable($("div.activity"));


                        // setup some defaults for jsPlumb.
                        jsPlumb.importDefaults({
                            DragOptions: { cursor: 'pointer', zIndex: 2000 },
                            // default to blue at one end and green at the other
                            EndpointStyles: [{ fillStyle: '#225588' }, { fillStyle: '#558822' }],
                            // blue endpoints 7 px; green endpoints 11.
                            Endpoints: [["Dot", { radius: 7 }], ["Dot", { radius: 11 }]],
                            Endpoint: ["Dot", { radius: 2 }],
                            HoverPaintStyle: { strokeStyle: "#000", lineWidth: 2 },
                            PaintStyle: { strokeStyle: "#575757", lineWidth: 2 },
                            ConnectionOverlays: [
                                ["Arrow", {
                                    location: 1,
                                    id: "arrow",
                                    length: 14,
                                    foldback: 0.8
                                }]
                            ]
                        });

                        // this is the paint style for the connecting lines..
                        var connectorPaintStyle = {
                            lineWidth: 4,
                            strokeStyle: "#808080",
                            joinstyle: "round",
                            outlineColor: "#eaedef",
                            outlineWidth: 2
                        },
                        // .. and this is the hover style.
                        connectorHoverStyle = {
                            lineWidth: 4,
                            strokeStyle: "#5C96BC",
                            outlineWidth: 2,
                            outlineColor: "white"
                        },
                        endpointHoverStyle = { fillStyle: "#5C96BC" },
                        // the definition of source endpoints (the small blue ones)
                        sourceEndpoint = {
                            endpoint: "Dot",
                            paintStyle: {
                                strokeStyle: "#1e8151",
                                fillStyle: "transparent",
                                radius: 7,
                                lineWidth: 2
                            },
                            isSource: true,
                            connector: ["Flowchart", { stub: [40, 60], gap: 10, cornerRadius: 5, alwaysRespectStubs: true }],
                            connectorStyle: connectorPaintStyle,
                            hoverPaintStyle: endpointHoverStyle,
                            connectorHoverStyle: connectorHoverStyle,
                            dragOptions: {},
                            overlays: [
                                ["Label", {
                                    location: [0.5, 1.5],
                                    cssClass: "endpointSourceLabel"
                                }]
                            ]
                        },
                        // a source endpoint that sits at BottomCenter
                        //	bottomSource = jsPlumb.extend( { anchor:"BottomCenter" }, sourceEndpoint),
                        // the definition of target endpoints (will appear when the user drags a connection)
                        targetEndpoint = {
                            endpoint: "Dot",
                            paintStyle: { fillStyle: "#1e8151", radius: 11 },
                            hoverPaintStyle: endpointHoverStyle,
                            maxConnections: -1,
                            dropOptions: { hoverClass: "hover", activeClass: "active" },
                            isTarget: true,
                            overlays: [
                                ["Label", { location: [0.5, -0.5], cssClass: "endpointTargetLabel" }]
                            ]
                        },
                        init = function (connection) {
                            connection.getOverlay("label").setLabel(connection.sourceId.substring(6) + "-" + connection.targetId.substring(6));
                            connection.bind("editCompleted", function (o) {
                                if (typeof console != "undefined")
                                    console.log("connection edited. path is now ", o.path);
                            });
                        };

                        var addEndpoints = function (toId, sourceAnchors, targetAnchors) {
                            for (var i = 0; i < sourceAnchors.length; i++) {
                                var sourceUuid = toId + sourceAnchors[i];
                                jsPlumb.addEndpoint(toId, sourceEndpoint, { anchor: sourceAnchors[i], uuid: sourceUuid });
                            }
                            for (var j = 0; j < targetAnchors.length; j++) {
                                var targetUuid = toId + targetAnchors[j];
                                jsPlumb.addEndpoint(toId, targetEndpoint, { anchor: targetAnchors[j], uuid: targetUuid });
                            }
                        },
                            addSourceEndpoint = function (activity) {
                                for (var i = 0; i < sourceAnchors.length; i++) {
                                    var sourceUuid = toId + sourceAnchors[i];
                                    jsPlumb.addEndpoint(toId, sourceEndpoint, { anchor: sourceAnchors[i], uuid: sourceUuid });
                                }
                                for (var j = 0; j < targetAnchors.length; j++) {
                                    var targetUuid = toId + targetAnchors[j];
                                    jsPlumb.addEndpoint(toId, targetEndpoint, { anchor: targetAnchors[j], uuid: targetUuid });
                                }
                            };


                        var activities = vm.wd().ActivityCollection(),
                            count = 1,
                            activityAdded = function (act) {

                                var p = $('<div class="activity w" id="' + act.WebId() + '">' +
                                          '     <div class="activity32 pull-right"></div>' +
                                          '     <!-- ko text : Name() -->' +
                                          '     <!-- /ko -->' +

                                          '     <a href="#" data-bind2="click: $parent.editActivity.call($parent,$data)" class="glyphicon glyphicon-edit">edit</a>' +
                                          '  </div>'),
                                    x = act.WorkflowDesigner().X() || 250,
                                    y = act.WorkflowDesigner().Y() || 150 * count,
                                    fullName = typeof act.$type === "function" ? act.$type() : act.$type,
                                    name = /Bespoke\.Sph\.Domain\.(.*?),/.exec(fullName)[1];


                                p.css("left", x + "px")
                                    .css("top", y + "px")
                                    .appendTo('div#container')
                                    .find("div.activity32")
                                    .addClass("activity32-" + name);

                                ko.applyBindings(act, document.getElementById(act.WebId()));
                                jsPlumb.draggable(p);

                                var sourceAnchors = ["BottomCenter"];
                                var targetAnchors = ["TopCenter"];
                                if (act.multipleEndPoints) {
                                    var anchors = ["BottomCenter", "BottomLeft", "BottomRight", "LeftMiddle", "RightMiddle",
                                                    "BottomCenter", "BottomLeft", "BottomRight", "LeftMiddle", "RightMiddle",
                                                    "BottomCenter", "BottomLeft", "BottomRight", "LeftMiddle", "RightMiddle"],
                                        count1 = -1;
                                    sourceAnchors = _(act.multipleEndPoints()).map(function (d) {
                                        count1++;
                                        return anchors[count1];
                                    });
                                }

                                if (name == "EndActivity") {
                                    sourceAnchors = [];
                                }
                                if (act.IsInitiator()) {
                                    targetAnchors = [];
                                }

                                addEndpoints(act.WebId(), sourceAnchors, targetAnchors);
                                count++;
                            },
                            createConnection = function (source, target, label) {
                                jsPlumb.connect({
                                    uuids: [source + "BottomCenter", target + "TopCenter"],
                                    editable: true,
                                    overlays: [
                                        [
                                            "Label", {
                                                cssClass: "l1 component label",
                                                label: label || '',
                                                location: 0.2,
                                                id: target + '-label'
                                            }
                                        ]
                                    ]
                                });
                                /*
                                return jsPlumb.connect({
                                    source: source,
                                    target: target,
                                    container: 'container',
                                    endpoint: ['Dot', { radius: 5 }],
                                    connector: ["Flowchart", { cornerRadius: 5, gap: 8 }],
                                    connectorStyle: { strokeStyle: "#5c96bc", lineWidth: 1, outlineColor: "transparent", outlineWidth: 1 },
                                    anchors: ["Bottom", "TopCenter"],
                                    overlays: [
                                        [
                                            "Label", {
                                                cssClass: "l1 component label",
                                                label: label || '',
                                                location: 0.2,
                                                id: target + '-label'
                                            }
                                        ]
                                    ]
                                });*/
                            };


                        // create an element to each activity and bind them
                        _(vm.wd().ActivityCollection()).each(activityAdded);
                        // add/remove element as activity is added or deleted
                        vm.wd().ActivityCollection.subscribe(function (changes) {
                            // console.log(changes);
                            activityAdded(changes[0].value);
                        }, null, "arrayChange"),

                        _(activities).each(function (v) {
                            if (v.NextActivityWebId()) {
                                createConnection(v.WebId(), v.NextActivityWebId());
                            }
                            if (v.multipleEndPoints) {
                                _(v.multipleEndPoints()).each(function (d) {
                                    createConnection(v.WebId(), d.NextActivityWebId(), d.Name());
                                });
                            }


                        });

                    });

                });


            });
    </script>
</body>



</html>