@model Bespoke.Sph.Commerspace.Web.ViewModels.RoleSettingViewModel

@{
    Layout = null;
}

<h1 class="row-fluid">Maklumat Jawatan</h1>
<form class="form-horizontal span6" data-bind="with: designation">
    <div class="control-group">
        <label for="Name" class="span2">Nama jawatan</label>
        <div class="span3">
            <input data-bind="value: Name" id="Name" type="text" name="Name" />
        </div>
    </div>

    <div class="control-group">
        <label for="description" class="span2">Keterangan</label>
        <div class="span3">
            <textarea data-bind="value: Description" id="description" name="description"></textarea>
        </div>
    </div>

    <div class="control-group">
        <label for="StartModule" class="span2">Modul Permulaan</label>
        <div class="span3">
            <select id="StartModule" data-bind="value: StartModule">
                @foreach (var r in Model.Routes.Where(j => j.Visible))
                {
                    <option value="@r.Url">@r.Name</option>
        
                }
            </select>
        </div>
    </div>
 
    <div class="control-group">
        <span>Sila <i class="icon-ok"></i> bagi menetapkan kebenaran akses bagi jawatan yang ingin didaftarkan</span>
    </div>
    @foreach (var r in Model.Roles)
    {
        
        <div class="control-group span6">
            <div class="controls">
                <input data-bind="checked: RoleCollection" value="@r.Role" 
                       type="checkbox" 
                       name="role" />
                @r.Name
                <span class="help-block"><strong>Keterangan: </strong> @r.Description</span>
            </div>
        </div>
    }
</form>

