@{
    Layout = null;
}

<h1>Buat trigger baru </h1>
<form class="form-horizontal" data-bind="with: trigger">
    <div class="control-group">
        <label for="Name" class="control-label">Nama</label>
        <div class="controls">
            <input class="input-xxlarge" data-bind="value: Name" id="Name" type="text" name="Name" />
        </div>
    </div>
    <div class="control-group">
        <label for="Note" class="control-label">Nota</label>
        <div class="controls">
            <textarea class="input-xxlarge" data-bind="value: Note" id="Note" name="Note"></textarea>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input data-bind="checked: IsActive" id="isActive" type="checkbox" name="IsActive" />
                Aktif
            </label>
        </div>
    </div>

    <div class="control-group">
        <label for="Entity" class="control-label">Entiti</label>
        <div class="controls">
            <select data-bind="value: Entity" id="Entity" name="Entity">
                <option value="">[--Sila Pilih--]</option>
                <option value="Building">Bangunan</option>
                <option value="RentalApplication">Permohonan Sewa</option>
                <option value="Deposit">Deposit</option>
                <option value="Contract">Kontrak</option>
                <option value="CommercialSpace">Ruang Komersil</option>
                <option value="Tenant">Penyewa</option>
                <option value="Invoice">Invois</option>
            </select>
        </div>
    </div>
    <h3>Rules</h3>
    <a class="btn btn-mini pull-right" data-bind="click: $parent.addRuleCommand">+</a>
    <table id="rules-table" class="table table-striped">
        <thead>
            <tr>
                <th>Left</th>
                <th>Operator</th>
                <th>Right</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: RuleCollection">
            <tr>
                <td>
                    @Html.Partial("_TriggerFieldDropDown", new { Property = "Left" })
                </td>
                <td>
                    <select data-bind="value: Operator">
                        <option value="Eq">=</option>
                        <option value="Le">&lt;=</option>
                        <option value="Lt">&lt;</option>
                        <option value="Ge">&gt;=</option>
                        <option value="Gt">&gt;</option>
                        <option value="Substringof">Mengandungi</option>
                        <option value="StartsWith">Mula dengan</option>
                        <option value="EndsWith">Akhir</option>
                    </select>
                </td>
                <td>
                    @Html.Partial("_TriggerFieldDropDown",new {Property = "Right"})
                </td>
                <td>
                    <a rel="nofollow" href="#" data-bind="click : $root.removeRule">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Action</h3>
    <div id="action-panel" class="pull-right">
        <div class="btn-group">
            <a class="btn btn-link dropdown-toggle" data-toggle="drop-down">
                Add Action &nbsp;<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="btn btn-link" data-bind="click: $root.addEmailActionCommand">
                        <i class="icon-envelope"></i>
                        Add Email Action
                    </a>
                </li>
                <li>
                    <a class="btn btn-link" data-bind="click: $root.addSetterActionCommand">
                        <i class="icon-gear"></i>
                        Add Setter Action
                    </a>
                </li>

            </ul>
        </div>

    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tajuk</th>
                <th>Nota</th>
                <th>Aktif</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: ActionCollection">
            <tr>
                <td>
                    <!-- ko if: $data.hasOwnProperty("Bcc") -->
                    <a type="button" class="btn btn-link" data-bind="click : $root.startEditEmailAction" href="#email-action-modal">

                        <img data-bind="fieldImage : $type" class="pull-left" alt="." />
                        &nbsp;
                        <!-- ko text : Title -->
                        <!-- /ko -->
                    </a>
                    <!-- /ko -->
                    <!-- ko if: $data.hasOwnProperty("SetterActionChildCollection") -->
                    <a type="button" class="btn btn-link" data-bind="click : $root.startEditSetterAction" href="#setter-action-modal">
                        <img data-bind="fieldImage : $type" class="pull-left" alt="." />
                        &nbsp;
                        <!-- ko text : Title -->
                        <!-- /ko -->
                    </a>
                    <!-- /ko -->
                </td>
                <td>
                    <input type="text" data-bind="value: Note" />
                </td>
                <td>
                    <input data-bind="checked: IsActive" id="IsActive" type="checkbox" name="IsActive" />
                </td>
                <td>
                    <a rel="nofollow" href="#" data-bind="click : $root.removeAction">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
</form>

@Html.Partial("_TriggerDocumentField")
@Html.Partial("_TriggerFunctionField")
@Html.Partial("_TriggerConstantField")

@Html.Partial("_TriggerEmailAction")

@Html.Partial("_TriggerSetterAction")