@using Bespoke.Sph.Commerspace.Web.Controllers
@using System.Reflection
@model TriggerPathPickerHtmlViewModel

@{
    ViewBag.Title = "title";
    Layout = null;
}

<ul>
    @foreach (var p in Model.Type.GetProperties(BindingFlags.Instance | BindingFlags.Public))
    {
        if (p.PropertyType.Name.EndsWith("Collection"))
        {
        <li data-path="@p.Name">
            <h3>@p.Name</h3>
        </li>
            
        }
        else if (p.PropertyType.Namespace == "Bespoke.SphCommercialSpaces.Domain")
        {
        <li data-path="@p.Name">
            <h3>@p.Name</h3>
            @{
                var vm = new TriggerPathPickerHtmlViewModel
                    {
                        Type = p.PropertyType,
                        Path = p.Name + "."
                    };
            }
            @Html.RenderAction("TriggerPathPickerHtml", vm);
        </li>
            
        }
        else
        {
  
        <li data-path="@p.Name">@p.Name</li>
        }
    }
</ul>
