@model Bespoke.Sph.Domain.BuildingMapElement
           
<!-- ko if : staticMap -->
<img data-bind="attr : {src:staticMap}" src="/Images/no-image.png" alt="map" />
<!-- /ko  -->
<div class="control-group">
    <label for="@Model.ElementId" class="control-label">@Model.Label</label>
    <div class="controls">
        <button title="@Model.Tooltip" id="@Model.ElementId" class="@Model.CssClass" data-bind="click: $root.showMapCommand, visible:@Model.Visible">
            <i class="@Model.Icon"></i>
            @Model.Label
        </button>
        @if (!string.IsNullOrWhiteSpace(Model.HelpText))
        {
            <span class="help-inline">@Model.HelpText</span>
        }
    </div>
</div>
