@model Bespoke.Sph.Domain.NumberTextBox
<div class="control-group">
    <label for="@Model.ElementId" class="control-label">@Model.Label</label>
    <div class="controls">
        <span  class="@(Model.CssClass + " "+ Model.Size)" 
            title="@Model.Tooltip" data-bind="text: @Model.Path"
             id="@Model.ElementId" />
    </div>
</div>  