<table class="table table-striped" data-bind="with : DataSource">
    <colgroup>
        <col style="width: 20%"/>
        <col style="width: 20%"/>
        <col style="width: 10%"/>
        <col style="width: 10%"/>
        <col style="width: 20%"/>
        <col style="width: 10%"/>
    </colgroup>
    <thead>
        <tr>
            <th>Name</th>
            <th>Label</th>
            <th>Type</th>
            <th>Default Value</th>
            <th>Available values</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach :ParameterCollection">
        <tr>
            <td>
                <input type="text" data-bind="value:Name" class="input-medium" />
            </td>
            <td>
                <input type="text" data-bind="value:Label" />
            </td>
            <td>
                <select data-bind="value:TypeName" class="input-medium">
                    <option value="@typeof(string).AssemblyQualifiedName">String</option>
                    <option value="@typeof(int).AssemblyQualifiedName">Number</option>
                    <option value="@typeof(decimal).AssemblyQualifiedName">Decimal</option>
                    <option value="@typeof(DateTime).AssemblyQualifiedName">DateTime</option>
                    <option value="@typeof(bool).AssemblyQualifiedName">Boolean</option>
                </select>
            </td>
            <td>
                
                <input type="text" data-bind="value:DefaultValue" class="input-medium" />
            </td>
            <td>
                <input type="text" data-bind="value:AvailableValues" class="input-medium" /></td>
            <td>
                <button class="btn btn-link" data-bind="click : $root.removeParameter">Buang</button>
            </td>
        </tr>
    </tbody>
</table>
    <button class="btn btn-link pull-right" data-bind="click : $root.addParameter">Add paramter</button>
