@{
    ViewBag.Title = "Index";
}

<h2>SPH Nuget Feed</h2>

<div>
    <h2>You are running NuGet.Server @string.Format("v{0}", typeof(NuGet.Server.DataServices.Package).Assembly.GetName().Version)</h2>
    <p>
        Click <a href="nuget/Packages">here</a> to view your packages.
    </p>
    <fieldset style="width:800px">
        <legend><strong>Repository URLs</strong></legend>
        In the package manager settings, add the following URL to the list of
        Package Sources:
        <blockquote>
            <strong>@Helpers.GetRepositoryUrl(Request.Url, Request.ApplicationPath)</strong>
        </blockquote>
        @if (string.IsNullOrEmpty(System.Configuration.ConfigurationManager.AppSettings["apiKey"]))
        {
            @Html.Raw("To enable pushing packages to this feed using the nuget command line tool (nuget.exe). Set the api key appSetting in web.config.");
        }else
        {
            @Html.Raw("Use the command below to push packages to this feed using the nuget command line tool (nuget.exe).");
        }
        <blockquote>
            <strong>nuget push {package file} -s <%= Helpers.GetPushUrl(Request.Url, Request.ApplicationPath) %> {apikey}</strong>
        </blockquote>
    </fieldset>

    @if (Request.IsLocal) {
    <p style="font-size:1.1em">
        To add packages to the feed put package files (.nupkg files) in the folder "@NuGet.Server.Infrastructure.PackageUtility.PackagePhysicalPath".
    </p>
     }
</div>
