@model Bespoke.Sph.Domain.CheckBox
@{
    if (string.IsNullOrWhiteSpace(Model.Enable))
    {
        Model.Enable = "true";
    }
}
@if (Model.IsCompact)
{
    <label class="checkbox">
        <input data-bind="@(Html.Raw(Model.GetKnockoutBindingExpression()))" id="@Model.Path" title="@Model.Tooltip" type="checkbox" name="@Model.Path" />
        @Model.Label
    </label>
}
else
{

    <div class="control-group">
        <label class="checkbox">
            <input data-bind="@(Html.Raw(Model.GetKnockoutBindingExpression()))" id="@Model.Path" title="@Model.Tooltip" type="checkbox" name="@Model.Path" />
            @Model.Label
        </label>
    </div>

}

