@model Bespoke.Sph.Domain.TextBox
@{
    var required = Model.IsRequired ? "required" : null;
}

@if (Model.IsCompact)
{

    <input @required class="@(Model.CssClass + " form-control " + Model.Size)" title="@Model.Tooltip"
           data-bind="@(Html.Raw(Model.GetKnockoutBindingExpression()))"
           id="@Model.ElementId" type="text" name="@Model.Path" />
}
else
{
    <div data-bind="visible:@Model.Visible" class="form-group">
        <label for="@Model.ElementId" class="@Model.LabelCssClass">@Model.Label</label>
        <div class="@Model.InputPanelCssClass">
            <input @required class="@(Model.CssClass + " form-control " + Model.Size)" title="@Model.Tooltip"
                   data-bind="@(Html.Raw(Model.GetKnockoutBindingExpression()))"
                   id="@Model.ElementId" type="text" name="@Model.Path" />
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.HelpText))
        {
            <span class="help-block">@Model.HelpText</span>
        }
    </div>

}