@using Bespoke.Sph.Domain
@model Bespoke.Sph.Web.ViewModels.FormRendererViewModel
@{

    Layout = null;
    var formId = @Model.Form.Route + "-form";
}
<form class="form-horizontal" data-bind="with : entity" id="@formId">
    @foreach (var fe in Model.Form.FormDesign.FormElementCollection)
    {
        var fe1 = fe;
        fe1.Path = fe1.Path.ConvertJavascriptObjectToFunction();
        var button = fe1 as Button;


        <div data-bind="visible:@fe.Visible" class="form-group">
            <label for="@fe.ElementId" class="control-label col-lg-2">@fe.Label</label>
            <div class="col-lg-6">
                @if (null != button && button.IsToolbarItem)
                {
                // toolbar button
                }
                else
                {
                @(fe.UseDisplayTemplate ? Html.Raw(fe1.GenerateDisplayTemplate("DurandalJs",Model.EntityDefinition)) : Html.Raw(fe1.GenerateEditorTemplate("DurandalJs", Model.EntityDefinition)))
                }
            </div>
            @if (!string.IsNullOrWhiteSpace(fe.HelpText))
            {
                <span class="help-block">@fe.HelpText</span>
            }
        </div>
    }
</form>