@using System.Web.Mvc.Html
@using Bespoke.Sph.Domain
@model Bespoke.Sph.Web.ViewModels.FormRendererViewModel

@{

    Layout = null;
    var formId = @Model.Form.Route + "-form";
}

<h1>@Model.Form.Name</h1>
<div class="row">

    <div class="col-lg-8">
        <form class="form-horizontal" data-bind="with : entity" id="@formId">
            @foreach (var fe in Model.Form.FormDesign.FormElementCollection)
            {
                var fe1 = fe;
                fe1.Path = fe1.Path.ConvertJavascriptObjectToFunction();
                var button = fe1 as Button;
                if (null != button && button.IsToolbarItem)
                {
                    // toolbar button
                }
                else
                {
                    @(fe.UseDisplayTemplate ? Html.DisplayFor(f => fe1) : Html.EditorFor(f => fe1))
                }
            }
        </form>
    </div>
    @if (Model.Form.IsAuditTrailAvailable)
    {
        <div class="col-lg-4">
            <h3>Audit Trail</h3>
            <!--ko compose: {model:'viewmodels/_audittrail.list', activationData:{id:$root.entity().@(Model.EntityDefinition.Name)Id(), entity : '@(Model.EntityDefinition.Name)'}} -->
            <!--/ko-->
        </div>

    }
</div>
