<div class="modal fade" id="rdl-configuration-panel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Configuration</h3>
            </div>
            <div class="modal-body">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#general-tab-item" data-toggle="tab">General</a>
                        </li>
                        <li>
                            <a href="#parameters-tab-item" data-toggle="tab">Parameters</a>
                        </li>
                        <li>
                            <a href="#datasource-tab-item" data-toggle="tab">Datasource</a>
                        </li>
                        <li>
                            <a href="#column-options-tab-item" data-toggle="tab">Available Columns</a>
                        </li>
                        <li>
                            <a href="#column-props-tab-item" data-toggle="tab">Columns Properties</a>
                        </li>
                    </ul>
                    <div class="tab-content" data-bind="with : reportDefinition">
                        <div id="general-tab-item" class="tab-pane active">
                            @Html.Partial("_ConfigurationGeneral")
                        </div>
                        <div id="parameters-tab-item" class="tab-pane">
                            @Html.Partial("_ConfigurationParameters")
                        </div>
                        <div id="datasource-tab-item" class="tab-pane">
                            @Html.Partial("_ConfigurationDatasource")
                        </div>
                        <div id="column-options-tab-item" class="tab-pane">
                            @Html.Partial("_ConfigurationColumnOptions")

                        </div>
                        <div id="column-props-tab-item" class="tab-pane">
                            @Html.Partial("_ConfigurationColumnProperties")
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <a href="#" class="btn btn-close-configuration-dialog btn-default" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
