@model Bespoke.Sph.Domain.ComboBox
@{
    var required = Model.IsRequired ? "required" : null;
}
@if (Model.IsCompact)
{
    <select data-bind="@(Html.Raw(Model.GetKnockoutBindingExpression()))" id="@Model.ElementId" name="@(Model.Path)" class="@(Model.CssClass + " "+ Model.Size) form-control">
        @foreach (var op in Model.ComboBoxItemCollection)
        {
            <option value="@op.Value">@op.Caption</option>
        }
    </select>
}
else
{

    <div class="form-group" data-bind="visible:@Model.Visible">
        <label for="@Model.ElementId" class="@Model.LabelCssClass">@Model.Label</label>
        <div class="@Model.InputPanelCssClass">
            <select data-bind="@(Html.Raw(Model.GetKnockoutBindingExpression()))" id="@Model.ElementId" name="@(Model.Path)" class="@(Model.CssClass + " "+ Model.Size) form-control">
                @foreach (var op in Model.ComboBoxItemCollection)
                {
                    <option value="@op.Value">@op.Caption</option>
                }
            </select>
        </div>
    </div>
}
