@model Bespoke.Sph.Commerspace.Web.Controllers.LoginModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - SPH</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="body" class="container">
        <section>

            @using (Html.BeginForm((string)ViewBag.FormAction, "Account"))
            {

                <div class="row">
                    @Html.Partial("_Slider")
                    <div class="span4 offset2 login-form">
                        <div class="logo">
                            <img src="~/Images/logo.png" alt="logo" />
                        </div>
                        <h2>Daftar Masuk Pengguna</h2>
                        @if (!@ViewData.ModelState.IsValid)
                        {
                        <div class="alert alert-error">
                            <a class="close" data-dismiss="alert" href="#">&times;</a>Nama Pengguna dan Kata laluan tidak sah!
                        </div>

                        }
                        <form method="POST" action="" accept-charset="UTF-8">
                            @Html.TextBoxFor(m => m.UserName,new {placeholder = "Nama pengguna", @class="input-xlarge"})
                            @Html.ValidationMessageFor(m => m.UserName)
                            <label class="controls"></label>
                            @Html.PasswordFor(m => m.Password, new { placeholder = "Kata laluan", @class = "input-xlarge" })
                            @Html.ValidationMessageFor(m => m.Password)
                            <label class="checkbox">
                                <input type="checkbox" name="remember" value="1">
                                Ingat saya
                            </label>
                            <button type="submit" name="submit" class="btn btn-info">Daftar Masuk</button>
                        </form>

                        <div>
                            <p>
                                <a href="@Url.Action("ChangePassword")">Lupa kata laluan atau nama pengguna</a>
                            </p>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <hr class="span12" />
                </div>
                @Html.Partial("_Footer")


            }
        </section>
    </div>


    @Scripts.Render("~/scripts/vendor")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>