@model Bespoke.Sph.Commerspace.Web.Controllers.LoginModel
@{
    ViewBag.Title = "Log in";
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using (Html.BeginForm((string)ViewBag.FormAction, "Account"))
{
    <form class="span4">
        <div class="container ">
            <div class="content">
                <div class="span7 well">
                    <div class="login-form">
                        <fieldset>
                            <legend>Daftar Masuk Pengguna</legend>
                            <ol>
                                <li>
                                    <label class="controls">Nama Pengguna </label>
                                    @Html.TextBoxFor(m => m.UserName)
                                    @Html.ValidationMessageFor(m => m.UserName)
                                </li>
                                <li>
                                    <label class="controls">Kata Laluan </label>
                                    @Html.PasswordFor(m => m.Password)
                                    @Html.ValidationMessageFor(m => m.Password)
                                </li>
                                <li>
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                                </li>
                            </ol>
                        </fieldset>
                        <div class="pull-right">
                            <input type="submit" class="btn btn-primary" value="Daftar Masuk" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}