@model Bespoke.Sph.Domain.SpaceUnitElement
@{
    var id = Guid.NewGuid().ToString();
}
<div class="form-group">
    <label for="@id" class="control-label @Model.LabelCssClass">@Model.Label</label>
    <div class="@Model.InputPanelCssClass">
        <div class="input-group">
            <input class="form-control" title="@Model.Tooltip" data-bind="value: UnitNo" id="@id" type="text" name="space-unitno" readonly="readonly" />
            <a type="button" class="btn input-group-btn"
               data-toggle="modal" id="select-lot-button"
               href="#lot-selection-panel">Pilih lot</a>

        </div>
        @if (!string.IsNullOrWhiteSpace(Model.HelpText))
        {
            @Html.Raw(Model.HelpText)

        }
    </div>

</div>
