@model Bespoke.SphCommercialSpaces.Domain.DatePicker

<div class="control-group">
    <label for="@Model.Path" class="control-label">@Model.Label</label>
    <div class="controls">
        <input data-bind="kendoDate: @Model.Path" id="@Model.Path" type="text" name="@Model.Path" />
    </div>
</div>