@model Bespoke.SphCommercialSpaces.Domain.TextBox
<div data-bind="visible:@Model.Visible">
    <label for="@Model.ElementId">@Model.Label</label>
    <div>
        <input class="@(Model.CssClass + " "+ Model.Size)" title="@Model.Tooltip" 
            data-bind="@(Html.Raw(Model.GetKnockoutBindingExpression()))" 
            id="@Model.ElementId" type="text" name="@Model.Path" />
    </div>
</div>