@model Bespoke.SphCommercialSpaces.Domain.TextAreaElement

<<div class="control-group">
     <label for="@Model.Path" class="control-label">@Model.Label</label>
     <div class="controls">
         <textarea class="@Model.CssClass" title="@Model.Tooltip" data-bind="value: @Model.Path" id="@Model.Path" name="@Model.Path" />
     </div>
 </div>