@model Bespoke.Sph.Domain.TextAreaElement

<div class="form-group">
    <label for="@Model.ElementId" class="control-label col-lg-2">@Model.Label</label>
    <div class="col-lg-6">
        <textarea class="@(Model.CssClass + " form-control "+ Model.Size) form-control"
                  title="@Model.Tooltip" data-bind="@(Html.Raw(Model.GetKnockoutBindingExpression()))"
                  id="@Model.ElementId" name="@Model.Path"></textarea>
    </div>
</div>
