@model Bespoke.Sph.Domain.TextBox
<div data-bind="visible:@Model.Visible" class="form-group">
    <label for="@Model.ElementId" class="control-label col-lg-2">@Model.Label</label>
    <div class="col-lg-6">
        <input class="@(Model.CssClass + " "+ Model.Size) form-control" title="@Model.Tooltip" 
            data-bind="@(Html.Raw(Model.GetKnockoutBindingExpression()))" 
            id="@Model.ElementId" type="text" name="@Model.Path" />
    </div>
</div>