@model Bespoke.Sph.Domain.TabControl

<div class="tabbable">
    <ul class="nav nav-tabs">
        @for (int i = 0; i < Model.TabPanelCollection.Count; i++)
        {
            var tab = Model.TabPanelCollection[i];
            var id = $"{tab.PartialView}-{i:00}";
            if (i == 0)
            {

                <li class="active">
                    <a href="#@id" data-toggle="tab">@tab.Header</a>
                </li>
            }
            else
            {
                <li>
                    <a href="#@id" data-toggle="tab">@tab.Header</a>
                </li>
            }
        }

    </ul>
    <div class="tab-content">

        @for (int i = 0; i < Model.TabPanelCollection.Count; i++)
        {
            var tab = Model.TabPanelCollection[i];
            var id = $"{tab.PartialView}-{i:00}";
            var pathSpecified = tab.Path == "." || string.IsNullOrWhiteSpace(tab.Path);
            var dbw = pathSpecified ? $"data-bind=\"with: {Model.Path}\"" : null;



            if (i == 0)
            {

                <div id="@id" class="tab-pane active" @dbw>
                    <!-- ko compose : {view : '@tab.PartialView'}-->
                    <!-- /ko -->
                </div>
            }
            else
            {
                <div id="@id" class="tab-pane" @dbw>
                    <!-- ko compose : {view : '@tab.PartialView'}-->
                    <!-- /ko -->

                </div>

            }

        }



    </div>
</div>


