@model Bespoke.Sph.Web.ViewModels.RoleSettingViewModel

@{
    Layout = null;
    var row = 1;
}
    <h1>Designation</h1>
<div class="row">
    <form class="form-horizontal" data-bind="with: designation">


        <div class="form-group">
            <label for="Name" class="col-lg-2">Designation Name</label>
            <div class="col-lg-9">
                <input class="form-control" data-bind="value: Name" id="Name" type="text" name="Name" />
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="col-lg-2">Description</label>
            <div class="col-lg-9">
                <textarea class="form-control" rows="8" data-bind="value: Description" id="description" name="description"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="StartModule" class="col-lg-2">Start Module</label>
            <div class="col-lg-9">
                <select class="form-control" id="StartModule" data-bind="value: StartModule">
                    @foreach (var r in Model.Routes.Where(j => j.Nav))
                    {
                        <option value="@r.Route">@r.Title</option>

                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <span>Please (<i class="fa fa-check"></i>)check the option to set the designation roles</span>
        </div>

        <div>
            <table class="table table-striped" data-bind="filter: { path: 'tbody>tr' }">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Role</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var r in Model.Roles.OrderBy(e => e.Name))
                    {
                        <tr>
                            <td>@(row++)</td>
                            <td>
                                <label class="checkbox" title="@r.Role">
                                    <input data-bind="checked: RoleCollection" value="@r.Role"
                                           type="checkbox" name="role"/>
                                    @r.Name
                                </label>

                                @if ((!@r.Role.Equals("Administrators")) && (!@r.Role.Equals("Developers")))
                                {
                                    <a href="#" class="btn btn-link" data-bind="click : $root.deleteRole.bind($data, '@r.Role')">
                                        Delete
                                    </a>
                                }

                            </td>
                            <td><span class="help-block">@r.Description</span></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="#" class="btn btn-link" data-bind="command : $root.addRole">
                <i class="fa fa-plus-circle"></i>
                Add a role
            </a>
        </div>
    </form>

</div>
