@using System.Web.Mvc.Html
@using Newtonsoft.Json
@model Bespoke.Sph.Web.ViewModels.PrintViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Bespoke.Sph.Domain.ConfigurationManager.ApplicationName : @Model.Item.ToString()</title>
    <link href="~/Content/__css.css" rel="stylesheet" />
</head>
<body>

    <div id="print-details">
        <h1>@Model.Name</h1>
        <div class="container">
            <form class="form-horizontal">
                @foreach (var fe in Model.FormDesign.FormElementCollection)
                {
                    var fe1 = fe;
                    @Html.DisplayFor(m => fe1)
                }

            </form>
        </div>

    </div>
    <script src="~/Scripts/__vendor.js"></script>
    <script src="~/Scripts/__core.js"></script>
    <script type="text/javascript">
        $(function () {
            var item = ko.mapping.fromJSON('@Html.Raw(JsonConvert.SerializeObject(Model.Item))');
            ko.applyBindings(item);


        });

    </script>
</body>
</html>
